@use '@/assets/styles/colors';

.button {
  font-weight: 700;
  min-width: 10rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &__brand {
    margin: 0 auto;
    height: 40px;
    background-color: colors.$brand;
  }
  &:disabled {
    background: rgba(255, 255, 255, 0.05);
    opacity: 0.5;
  }
}

.button-color {
  &__brand {
    background-color: colors.$brand;
  }
}
