@use 'src/assets/styles/colors';

.wrapper {
  width: 370px;
  height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background: colors.$gradientLight;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.subTitle {
  color: colors.$halfWhite;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 300px;
    height: 250px;
  }
}
