@use 'src/assets/styles/colors';

.wrapper {
  height: 200px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background: colors.$gradientLight;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.subTitle {
  color: colors.$halfWhite;
}
