@use 'src/assets/styles/colors';

.page {
  background: colors.$gradientDark;
  min-height: 100vh;
  padding: 100px;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.leftColumn {
  height: 100%;
}

.rightColumn {
  height: 100%;
}

@media screen and (max-width: 630px) {
  .page {
    padding: 20px;
  }

  .wrapper {
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
  }
}
