@use 'src/assets/styles/colors';

.page {
  background: colors.$gradientDark;
  min-height: 100vh;
}

.header {
  min-width: 1024px;
  max-width: 1240px;
}

.wrapper {
  min-width: 1024px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}

.leftColumn {
  height: 100%;
}

.rightColumn {
  height: 100%;
}
