@use 'src/assets/styles/colors';

.page {
  background: colors.$gradientDark;
  min-height: 100vh;
  padding: 100px;
}

.header {
  margin-bottom: 30px;
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.leftColumn {
  height: 100%;
}

.rightColumn {
  height: 100%;
}
