@use './colors';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

body *::-webkit-scrollbar {
  width: 13px;
  background-color: colors.$gray;
}

body *::-webkit-scrollbar-thumb {
  width: 13px;
  border-radius: 3px;
  background-color: colors.$gray;
}

p {
  font-size: 14px;
}

button {
  background-color: transparent;
  border: none;
}
